<!DOCTYPE html Opening Header Set-Up with Hyperlink>
<html align="center" lang="en">
  <head>
  <h1 align="center">Welcome to the World of DJ AVZO!!!</h1>
  <h3 align="center">By Denny (DJ AVZO) Cordell</h3>
  </head>
    <br />
    <br />
      <p align="center"style="font-size:100%;">What you are about to witness is a DJ at work!</p>
      <p align="center"style="font-size:100%;">Click <a href="https://youtu.be/gigU2gu_-BI" target="_blank"> here </a> to see my graduation performance at the DJ Scratch Academy!</p>
    <body>
    <img align="center"src="https://images.pexels.com/photos/1694900/pexels-photo-1694900.jpeg?cs=srgb&dl=black-and-white-concert-disc-jockey-1694900.jpg&fm=jp" width="1500" height="960">
    </body>
    </html>
    <html>
    <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
    </head>
    <body>

    <h2>Club DJing can be devised into three different sets.</h2>
    <p>Check it out!</p>

    <div class="row">
      <div class="column">
        <img src="https://images.pexels.com/photos/2209315/pexels-photo-2209315.jpeg?cs=srgb&dl=audio-mixer-blur-close-up-2209315.jpg&fm=jpg" alt="Opener Songs" style="width:70%">
        <h2>Opener Songs</h2>
      </div>
      <div class="column">
        <img src="https://images.pexels.com/photos/860707/pexels-photo-860707.jpeg?cs=srgb&dl=analogue-audio-cdj-860707.jpg&fm=jpg" alt="Primetime Songs" style="width:70%">
            <h2>Primetime Songs</h2>
      </div>
      <div class="column">
        <img src="https://images.pexels.com/photos/270769/pexels-photo-270769.jpeg?cs=srgb&dl=analogue-audio-black-and-white-270769.jpg&fm=jpg" alt="Closing Songs" style="width:70%">
      <h2>Closing Songs</h2>
      </div>
    </div>



                  </tr>
                <tr>
                  <td>Cheap Thrils - Sia</td>
                  <td>My House Flo Rida</td>
                  <td>Familiar - Liam Payne</td>
                </tr>
                <tr>
                  <td>Get Ur Freak On - Missy Elliott</td>
                  <td>SexyBack - Justin Timberlake</td>
                  <td>Fancy - Iggy Azalea</td>
                </tr>
                <tr>
                  <td>Middle - DJ Snake ft. Bipolar Sunshine</td>
                  <td>Treasure - Bruno Mars</td>
                  <td>Mic Drop - BTS f.Designer</td>
                </tr>
              </table>
                  <style>
                    img {
                      float: right;
                    }
                  </style>

                  <p><img src="https://images.pexels.com/photos/1238941/pexels-photo-1238941.jpeg?cs=srgb&dl=audio-black-and-white-close-up-1238941.jpg&fm=jpg" alt="DJpic4" style="width:150px;height:150px;margin-right:979px;">

    </body>
</html>
<!DOCTYPE html Calendar Code Set-Up>
<style media="screen">
  {% load staticfiles %}
</style>

<html align="center" lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-organiser!</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/interactive_calendar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower'
          rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{% static 'js/interactive_calendar.js' %}"></script>
</head>

<body>
<div class=page-header>
   <a href="{% url 'index' %}">Utilize the Calendar as a Date Guide.</a>
</div>

<style media="screen">
{% if user.is_authenticated %}
  {% else %}
  {% endif %}
</style>

    </ul>
<style media="screen">
{% block content %}
{% endblock %}
</style>

</body>
</html>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
<p>Date: <input type="text" id="datepicker"></p>
<form action="mailto:avzo@djavzo.com" class="form-inline">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <button type="submit" class="btn btn-default">Click Here To Email Your Name, Event Date, & Contact Info</button>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html E-Mail Contact Link>
<address align="center">
Written by <a href="mailto:avzo@djavzo.com">DJ AVZO</a><br>
Visit me at:<a href="https://www.djavzo.com/" target="_blank"> www.djavzo.com</a><br>
</address>
</body>
</html>
<!DOCTYPE html SEARCH Section>
<html>
    <body>
      <input id="searchtext" type="text"></input>
      <button id='search' onclick="mySearch()">Search For Artist Pics/Albums/Album Release Dates</button>
    </body>
    <script>
      function mySearch(){
      let myScript = document.createElement("script");
      myScript.src = "https://api.discogs.com/database/search?q=" + document.getElementById("searchtext").value + "&token=sDegSAUclztejNsDIrhMocalyHALBpLGHUyVfPRo&callback=DennysFunction";
      console.log(myScript.src);
      document.body.appendChild(myScript);
      }
      function DennysFunction(songSearchdata){
      console.log(songSearchdata);
        let myImg = document.createElement("img");
          myImg.src=songSearchdata.data.results[0].thumb;
          document.body.appendChild(myImg);
        let myData = document.createElement("div");
          myData.innerHTML = songSearchdata.data.results[0].year + " " + songSearchdata.data.results[0].title;
          document.body.appendChild(myData);
      }
    </script>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</html>
